// Base styles for Dropdown items
@import "../../styles/_variables.scss";

.item {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
    margin-bottom: 5px;
  
    &:first-of-type {
      margin-top: 0;
    }
  
    &:last-of-type {
      margin-bottom: 0;
    }
  
    &:hover {
      background-color: $hover-grey-color;
    }
  
    &.selected,
    &.selected:hover {
      background-color: $light-blue-color;
    }
  }
  
  .itemText {
    margin-right: 8px;
    margin-left: 5px;
  }

  .selectedIcon {
    color: $primary-color;
  }

  .selected .itemText {
    color: $primary-color;
    font-weight: 500;
  }
  